[data-ui-theme="mono"] {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #737373;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #717171;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #e7000b;
  --destructive-foreground: #f5f5f5;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #737373;
  --chart-2: #737373;
  --chart-3: #737373;
  --chart-4: #737373;
  --chart-5: #737373;
  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --radius: 0rem;
  --letter-spacing: 0em;
  --font-sans: "Geist Mono", Inter, ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Geist Mono", Georgia, Cambria, "Times New Roman", serif;
  --font-mono: "Geist Mono", JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
}

[data-ui-theme="mono"].dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #191919;
  --card-foreground: #fafafa;
  --popover: #262626;
  --popover-foreground: #fafafa;
  --primary: #737373;
  --primary-foreground: #fafafa;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #404040;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --destructive-foreground: #262626;
  --border: #383838;
  --input: #525252;
  --ring: #737373;
  --chart-1: #737373;
  --chart-2: #737373;
  --chart-3: #737373;
  --chart-4: #737373;
  --chart-5: #737373;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #fafafa;
  --sidebar-primary-foreground: #171717;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff;
  --sidebar-ring: #525252;
}

