@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../styles/themes/retro-boy.css";
@import "../styles/themes/perplexity.css";
@import "../styles/themes/mono.css";

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    letter-spacing: var(--tracking-normal);
  }
}
